.list {
  padding-top: 16px;
  width: 70%;
}
.list-item {
  display:flex;
  justify-content: baseline;
  font-size: 18px;
  font-family: $font-family;
  border: 1px solid $light-grey;
  padding: 16px;
  background-color: white;
  margin: 0;
}

.list-item .description {
  padding-left: 16px;
}

.list-item .thumbnail {
  border-radius: 4px;
}

.price {
  font-size: 25px;  
  display: flex;
}
.price img {
  padding-top: 25px;
  padding-left: 10px;
}
.price span {
  font-size: 12px;
  padding-top: 24px;
  padding-left: 5px;
  text-decoration-line: underline;
}
.info-shippment {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.info-shippment h2 {
  font-size: 24px;
}
.info-shippment p{
  color: $grey;
  padding-top: 18px;
  font-size: 14px;

}