
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  padding: 10px;
  line-height: 20px;
}

.form-control {
  display: flex;
  padding-left: 20px;
  justify-content: center;
  width: 60%;
}

input[type="text"] {
  width: 100%;
  font-family: $font-family;
  font-size: 14px;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 6px;
}

.search-bar button {
  padding: 7px 8px 8px 8px;
  background-color: $light-grey;
  border: none;
  border-radius: 0 5px 5px 0;

}

