@import './base/variables';
@import './components/searchBar';
@import './components/list';
@import './components/details';
@import './base/buttons';
@import './components/categories';

// * {
//   border: 1px solid red; 
// }

body {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}